In [2]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('cardio.csv')
df.head(25)

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,bmi,bp_category,bp_category_encoded
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50,21.967120,Hypertension Stage 1,Hypertension Stage 1
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55,34.927679,Hypertension Stage 2,Hypertension Stage 2
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,51,23.507805,Hypertension Stage 1,Hypertension Stage 1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48,28.710479,Hypertension Stage 2,Hypertension Stage 2
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,47,23.011177,Normal,Normal
5,8,21914,1,151,67.0,120,80,2,2,0,0,0,0,60,29.384676,Hypertension Stage 1,Hypertension Stage 1
6,9,22113,1,157,93.0,130,80,3,1,0,0,1,0,60,37.729725,Hypertension Stage 1,Hypertension Stage 1
7,12,22584,2,178,95.0,130,90,3,3,0,0,1,1,61,29.983588,Hypertension Stage 1,Hypertension Stage 1
8,13,17668,1,158,71.0,110,70,1,1,0,0,1,0,48,28.440955,Normal,Normal
9,14,19834,1,164,68.0,110,60,1,1,0,0,0,0,54,25.282570,Normal,Normal
10,15,22530,1,169,80.0,120,80,1,1,0,0,1,0,61,28.010224,Hypertension Stage 1,Hypertension Stage 1
11,16,18815,2,173,60.0,120,80,1,1,0,0,1,0,51,20.047446,Hypertension Stage 1,Hypertension Stage 1
12,18,14791,2,165,60.0,120,80,1,1,0,0,0,0,40,22.038567,Hypertension Stage 1,Hypertension Stage 1
13,21,19809,1,158,78.0,110,70,1,1,0,0,1,0,54,31.244993,Normal,Normal
14,23,14532,2,181,95.0,130,90,1,1,1,1,1,0,39,28.997894,Hypertension Stage 1,Hypertension Stage 1
15,24,16782,2,172,112.0,120,80,1,1,0,0,0,1,45,37.858302,Hypertension Stage 1,Hypertension Stage 1
16,25,21296,1,170,75.0,130,70,1,1,0,0,0,0,58,25.951557,Hypertension Stage 1,Hypertension Stage 1
17,27,16747,1,158,52.0,110,70,1,3,0,0,1,0,45,20.829995,Normal,Normal
18,28,17482,1,154,68.0,100,70,1,1,0,0,0,0,47,28.672626,Normal,Normal
19,29,21755,2,162,56.0,120,70,1,1,1,0,1,0,59,21.338211,Elevated,Elevated
20,30,19778,2,163,83.0,120,80,1,1,0,0,1,0,54,31.239414,Hypertension Stage 1,Hypertension Stage 1
21,31,21413,1,157,69.0,130,80,1,1,0,0,1,0,58,27.993022,Hypertension Stage 1,Hypertension Stage 1
22,32,23046,1,158,90.0,145,85,2,2,0,0,1,1,63,36.051915,Hypertension Stage 1,Hypertension Stage 1
23,33,23376,2,156,45.0,110,60,1,1,0,0,1,0,64,18.491124,Normal,Normal
24,35,16608,1,170,68.0,150,90,3,1,0,0,1,1,45,23.529412,Hypertension Stage 2,Hypertension Stage 2

In [4]:
df.describe()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,bmi
count,68205.000000,68205.000000,68205.000000,68205.000000,68205.000000,68205.000000,68205.000000,68205.000000,68205.000000,68205.000000,68205.000000,68205.000000,68205.000000,68205.000000,68205.000000
mean,49972.410498,19462.667737,1.348625,164.372861,74.100688,126.434924,81.263925,1.363243,1.225174,0.087662,0.053134,0.803548,0.493688,52.823635,27.510513
std,28852.138290,2468.381854,0.476539,8.176756,14.288862,15.961685,9.143985,0.678080,0.571288,0.282805,0.224302,0.397317,0.499964,6.769909,6.026497
min,0.000000,10798.000000,1.000000,55.000000,11.000000,90.000000,60.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,29.000000,3.471784
25%,24991.000000,17656.000000,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,48.000000,23.875115
50%,50008.000000,19700.000000,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,53.000000,26.346494
75%,74878.000000,21323.000000,2.000000,170.000000,82.000000,140.000000,90.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,58.000000,30.116213
max,99999.000000,23713.000000,2.000000,250.000000,200.000000,180.000000,120.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,64.000000,298.666667

In [5]:
df.shape

(68205, 17)

# Cleaning of Dataset
### 1) Handling missing data

In [6]:
# Check for missing values in each column
missing_values = df.isnull().sum()

# Display columns with missing values
columns_with_missing = missing_values[missing_values > 0]
print("Columns with missing values:")
print(columns_with_missing)

Columns with missing values:
Series([], dtype: int64)

In [11]:
# Checking for missing values
missing_values = df.isnull().sum()
print("Missing values:\n", missing_values)
# df_cleaned = df.dropna()

Missing values:
 id                     0
age                    0
gender                 0
height                 0
weight                 0
ap_hi                  0
ap_lo                  0
cholesterol            0
gluc                   0
smoke                  0
alco                   0
active                 0
cardio                 0
age_years              0
bmi                    0
bp_category            0
bp_category_encoded    0
dtype: int64

### 2) Removing duplicate entries

In [17]:
# Check for duplicate rows in the entire DataFrame
duplicate_rows = df.duplicated()

# Print the rows that are duplicates
print("Duplicate rows:\n", df[duplicate_rows])

# Count the total number of duplicate rows
total_duplicates = df.duplicated().sum()
print("Total number of duplicate rows:", total_duplicates)

Duplicate rows:
 Empty DataFrame
Columns: [id, age, gender, height, weight, ap_hi, ap_lo, cholesterol, gluc, smoke, alco, active, cardio, age_years, bmi, bp_category, bp_category_encoded]
Index: []
Total number of duplicate rows: 0

### 3) Handling outliers

In [ ]:
`

### 4) Encoding Categorical Variables
### 5) Feature Engineering
### 6) Verifying Data Integrity